STRAPI_URL=http://localhost:1337
STRAPI_TOKEN=

SMTP_HOST=smtp.mail.ru
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=razrab@bk.ru
SMTP_PASS=SuOaP2PCAft0wbbGDabK
SMTP_FROM=razrab@bk.ru
PROPOSAL_TO_EMAIL=razrab@bk.ru

S3_BUCKET=92b8eefabd98-meridian
S3_REGION=us-east-1
S3_ENDPOINT=https://s3.ru1.storage.beget.cloud
S3_ACCESS_KEY_ID=QSWS9XQ3HSBCZCK3CQK2
S3_SECRET_ACCESS_KEY=y5ABFXa0NUvH64Rhnh9B1oczo1tUbTDhVXr2sC7Y
S3_FORCE_PATH_STYLE=true
S3_PUBLIC_BASE_URL=https://s3.ru1.storage.beget.cloud/92b8eefabd98-meridian
