# Root-level notes only.
# Put app-specific variables into:
# - apps/web/.env.local
# - apps/cms/.env

# Example frontend variables
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_DEFAULT_LOCALE=ru
NEXT_PUBLIC_AVAILABLE_LOCALES=ru,en,ar

# Example CMS variables
STRAPI_URL=http://localhost:1337
